*{
    padding:0;
    margin:0;
}

body {
    font-size: 14px;
    font-family: sans-serif;
}

.main-form__tabs{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
}

.main-form__tabs ul{
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
}

.main-form__tabs li{
    list-style: none;
    width: 100%;
}

.main-form__tab-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(102, 153, 204, .7);
    text-align: center;
    color:#000;
    text-decoration: none;
}

.main-form__tab-link.active,
.main-form__tab-link:active,
.main-form__tab-link:focus,
.main-form__tab-link:hover{
    background: rgba(153, 204, 255, .3);
}

.main-form__for{
    margin-top:50px;
    width:100%;
    height:calc(100vh - 100px);
}

.main-form__tab-item{
    display: none;
    height:calc(100vh - 100px);
}
.main-form__tab-item.active{
    display: block;
}

.field{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 15px 0;
    min-width: 50px;
    min-height: 15px;
}

.field label{
    font-size: 14px;
    padding-right: 7px;
    text-align: right;
}

.field input{
    padding-left: 10px;
}

.pers_ed label{
	width: 126px;
}

.family label {
	width: 220px;
}

.parents label {
	width: 138px;
}

.parents input, .military input, .military_mid input {
	width: 300px;
}
#personal_number_MS {
    width: 106px;
}
#notes_educational_institution, #other_notes, #name_military_office, #name_military_unit, #name_area_military {
    width: 50%;
}

.military label {
	width: 165px;
}
.military_mid label {
	width: 193px;
}
input {
margin-right: 5px;
}
.subject{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 15px 0;
    min-width: 50px;
    min-height: 15px;
}

.subject label{
    font-size: 14px;
    padding-right: 7px;
    text-align: right;
	width: 106px;
}

.subject input{
    padding-left: 10px;
	width: 30px;

}

.col_2 {
	margin-left: 30%;
}

hr{
    width: 100%;
    height: 10px;
    color: #000000;
    border: none;
    margin: 10px 0 0;
    background: white;
}

h2{
    padding: 10px 10px 0 10px;
}

.near_field{
    margin-left: 25px;
}

select{
    width: 120px;
}

.break {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.first {
    height: 30px;
}

.brief label {
    width: 113px;
}
.wid label {
    width: 98px;
}

.bye .reasons {
    visibility: hidden;
}

.bye.active .reasons {
    visibility: visible;
}
.bye.active img {
    transform: translateY(0px) rotate(91deg);
}
ul {
    list-style-type: none;
}
.reasons li {
    margin-top: 10px;
    text-align: right;
}
.icon {
    width: 15px;
    height: 15px;
}
.icon img {
    width: 100%;
    height: 100%;
}