body{
    background: rgba(153, 204, 255, 0.4);
}

.login-page{
    width: 500px;
    max-width: 500px;
    padding: 30px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.5);

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

tr{
    height: 50px;
}

p{
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
}

input{
    font-family: sans-serif;
    outline: #CCCCCC solid thin;
    width: 300px;
    height: 25px;
}

button{
    font-family: sans-serif;
    width: 170px;
    height: 30px;
}
